In [1]:
import pandas as pd
import numpy as np 
import copy
from matplotlib import pyplot as plt
import seaborn as sns
from collections import *
import datetime

In [2]:
data=pd.read_csv(r"C:\Users\Mark 1\Desktop\Lockdown\data\Covid-19\117\case_time_series.csv")
data.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,30-Jan,1,1,0,0,0,0
1,31-Jan,0,1,0,0,0,0
2,01-Feb,0,1,0,0,0,0
3,02-Feb,1,2,0,0,0,0
4,03-Feb,1,3,0,0,0,0

In [3]:
data_daily=data[53:]
data_daily.reset_index(drop=True,inplace=True)
data_daily.head()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,23-Mar,94,497,2,25,2,9
1,24-Mar,74,571,15,40,1,10
2,25-Mar,86,657,3,43,1,11
3,26-Mar,73,730,7,50,5,16
4,27-Mar,153,883,25,75,3,19

In [4]:
data_daily.tail()

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
214,23-Oct,53931,7813676,66994,7013541,655,117406
215,24-Oct,50366,7864042,62270,7075811,578,117984
216,25-Oct,45922,7909964,59304,7135115,483,118467
217,26-Oct,36019,7945983,63734,7198849,485,118952
218,27-Oct,43034,7989017,58428,7257277,517,119469

In [5]:
colls=list(data_daily.columns)
colls

['Date',
 'Daily Confirmed',
 'Total Confirmed',
 'Daily Recovered',
 'Total Recovered',
 'Daily Deceased',
 'Total Deceased']

In [6]:
data_daily.dtypes

Date               object
Daily Confirmed     int64
Total Confirmed     int64
Daily Recovered     int64
Total Recovered     int64
Daily Deceased      int64
Total Deceased      int64
dtype: object

In [7]:
data_daily[data_daily.duplicated()]

Empty DataFrame
Columns: [Date, Daily Confirmed, Total Confirmed, Daily Recovered, Total Recovered, Daily Deceased, Total Deceased]
Index: []

In [8]:
data_daily['Date'] = data_daily['Date'].astype('str')

<ipython-input-8-b893dc2657ae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily['Date'] = data_daily['Date'].astype('str')

In [9]:
for i in range(0,9):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" March")
for i in range(0,9):
    data_daily["Date"][i]="2020-03-"+data_daily["Date"][i]

<ipython-input-9-5d3a9c25c0f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" March")
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3343: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-9-5d3a9c25c0f3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-03-"+data_daily["Date"][i]

In [10]:
for i in range(9,39):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" April")
for i in range(9,39):
    data_daily["Date"][i]="2020-04-"+data_daily["Date"][i]

<ipython-input-10-e708bf0423ae>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" April")
<ipython-input-10-e708bf0423ae>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-04-"+data_daily["Date"][i]

In [11]:
for i in range(39,70):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" May")
for i in range(39,70):
    data_daily["Date"][i]="2020-05-"+data_daily["Date"][i]

<ipython-input-11-3a877ff4aac3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" May")
<ipython-input-11-3a877ff4aac3>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-05-"+data_daily["Date"][i]

In [12]:
for i in range(70,100):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" June")
for i in range(70,100):
    data_daily["Date"][i]="2020-06-"+data_daily["Date"][i]

<ipython-input-12-7dad98128838>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" June")
<ipython-input-12-7dad98128838>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-06-"+data_daily["Date"][i]

In [13]:
for i in range(100,131):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" July")
for i in range(100,131):
    data_daily["Date"][i]="2020-07-"+data_daily["Date"][i]

<ipython-input-13-8446ec7a3871>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" July")
<ipython-input-13-8446ec7a3871>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-07-"+data_daily["Date"][i]

In [14]:

for i in range(131,162):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" August")
for i in range(131,162):
    data_daily["Date"][i]="2020-08-"+data_daily["Date"][i]

<ipython-input-14-8378c44cbf95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" August")
<ipython-input-14-8378c44cbf95>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-08-"+data_daily["Date"][i]

In [15]:

for i in range(162,192):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" September")
for i in range(162,192):
    data_daily["Date"][i]="2020-09-"+data_daily["Date"][i]

<ipython-input-15-35b96d5b39bd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" September")
<ipython-input-15-35b96d5b39bd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-09-"+data_daily["Date"][i]

In [16]:
for i in range(192,len(data_daily)):
    data_daily["Date"][i]=data_daily["Date"][i].strip(" October")
for i in range(192,len(data_daily)):
    data_daily["Date"][i]="2020-10-"+data_daily["Date"][i]

<ipython-input-16-4fd5b8dff3d9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]=data_daily["Date"][i].strip(" October")
<ipython-input-16-4fd5b8dff3d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"][i]="2020-10-"+data_daily["Date"][i]

In [17]:
#data_daily['Date'][162]=data_daily['Date'][162].strip("2020-09-2020-08-01")
#data_daily['Date'][162]="2020-09-01"

In [18]:
data_daily["Date"]=data_daily["Date"].astype('datetime64[ns]')

<ipython-input-18-523dc667f175>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily["Date"]=data_daily["Date"].astype('datetime64[ns]')

In [19]:
data_daily.dtypes

Date               datetime64[ns]
Daily Confirmed             int64
Total Confirmed             int64
Daily Recovered             int64
Total Recovered             int64
Daily Deceased              int64
Total Deceased              int64
dtype: object

In [20]:
data_daily_ratio_with_two_precision=data_daily.copy()

In [21]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_daily_ratio_with_two_precision.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_daily_ratio_with_two_precision[i]=list(range(len(data_daily_ratio_with_two_precision)))
    data_daily_ratio_with_two_precision[i][0]=1
    tmp=[]
    tmp.append(data_daily_ratio_with_two_precision[i][0])
    for k in range(0,len(data_daily_ratio_with_two_precision)-1):
        tmp.append(round(data_daily_ratio_with_two_precision[j][k+1]/data_daily_ratio_with_two_precision[j][k],2))
    data_daily_ratio_with_two_precision[i]=tmp
data_daily_ratio_with_two_precision.head()

<ipython-input-21-f5761363647c>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily_ratio_with_two_precision[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.00,1.00,1.00,1.00,1.0,1.00
1,2020-03-24,74,571,15,40,1,10,0.79,1.15,7.50,1.60,0.5,1.11
2,2020-03-25,86,657,3,43,1,11,1.16,1.15,0.20,1.08,1.0,1.10
3,2020-03-26,73,730,7,50,5,16,0.85,1.11,2.33,1.16,5.0,1.45
4,2020-03-27,153,883,25,75,3,19,2.10,1.21,3.57,1.50,0.6,1.19

In [22]:
data_daily_ratio=data_daily.copy()

In [23]:
new_cols=["Daily_Confirmed_Ratio","Total_Confirmed_Ratio","Daily_Recovered_Ratio","Total_Recovered_Ratio","Daily_Deceased_Ratio","Total_Deceased_Ratio"]
existing_cols=list(data_daily_ratio.columns)
existing_cols.pop(0)
existing_cols
for i,j in zip(new_cols,existing_cols):
    data_daily_ratio[i]=list(range(len(data_daily_ratio)))
    data_daily_ratio[i][0]=1
    tmp=[]
    tmp.append(data_daily_ratio[i][0])
    for k in range(0,len(data_daily_ratio)-1):
        tmp.append(data_daily_ratio[j][k+1]/data_daily_ratio[j][k])
    data_daily_ratio[i]=tmp
data_daily_ratio.head()

<ipython-input-23-d765217f50de>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_daily_ratio[i][0]=1

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased,Daily_Confirmed_Ratio,Total_Confirmed_Ratio,Daily_Recovered_Ratio,Total_Recovered_Ratio,Daily_Deceased_Ratio,Total_Deceased_Ratio
0,2020-03-23,94,497,2,25,2,9,1.000000,1.000000,1.000000,1.000000,1.0,1.000000
1,2020-03-24,74,571,15,40,1,10,0.787234,1.148893,7.500000,1.600000,0.5,1.111111
2,2020-03-25,86,657,3,43,1,11,1.162162,1.150613,0.200000,1.075000,1.0,1.100000
3,2020-03-26,73,730,7,50,5,16,0.848837,1.111111,2.333333,1.162791,5.0,1.454545
4,2020-03-27,153,883,25,75,3,19,2.095890,1.209589,3.571429,1.500000,0.6,1.187500

In [24]:
strt_cnt=1
end_cnt=8
strt_lst=[]
end_lst=[]
strt_lst.append(strt_cnt)
end_lst.append(end_cnt)
while(end_cnt<=len(data_daily_ratio)):
        strt_cnt+=1
        strt_lst.append(strt_cnt)
        end_cnt+=1
        end_lst.append(end_cnt)
if(end_lst[len(end_lst)-1]>=len(data_daily_ratio)):
    end_lst.pop(len(end_lst)-1)
strt_lst.pop(len(strt_lst)-1)
#print(strt_lst)
#print(end_lst)
#print(len(strt_lst)==len(end_lst))

for st,en in zip(strt_lst,end_lst):

    dcr=data_daily_ratio.iloc[st:en,9:10]
    dcr.reset_index(inplace = True, drop = True)
    dc=data_daily_ratio.iloc[st:en,3:4]
    dc.reset_index(inplace = True, drop = True)



    next_day_recovered_case_count_mean_based=dcr.mean()[0]*dc.mean()[0]

    next_day_recovered_case_count_max_based=max(dcr["Daily_Recovered_Ratio"])*max(dc["Daily Recovered"])


    next_day_recovered_case_count_mean_max_based=dcr.mean()[0]*max(dc["Daily Recovered"])


    next_day_recovered_case_count_max_mean_based=max(dcr["Daily_Recovered_Ratio"])*dc.mean()[0]


    next_day_recovered_case_count_mean_last_based=dcr.mean()[0]*dc["Daily Recovered"][len(dc)-1]


    next_day_recovered_case_count_last_mean_based=dcr["Daily_Recovered_Ratio"][len(dcr)-1]*dc.mean()[0]


    next_day_recovered_case_count_last_based=dcr["Daily_Recovered_Ratio"][len(dcr)-1]*dc["Daily Recovered"][len(dc)-1]


    next_day_recovered_case_count_middle_based=dcr["Daily_Recovered_Ratio"][3]*dc["Daily Recovered"][3]


    pred_val=[]
    pred_val.append(np.round(next_day_recovered_case_count_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_max_based))
    pred_val.append(np.round(next_day_recovered_case_count_mean_max_based))
    pred_val.append(np.round(next_day_recovered_case_count_max_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_mean_last_based))
    pred_val.append(np.round(next_day_recovered_case_count_last_mean_based))
    pred_val.append(np.round(next_day_recovered_case_count_last_based))
    pred_val.append(np.round(next_day_recovered_case_count_middle_based))

    if(en<len(data_daily_ratio)):
        pred_dict={"date":data_daily_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":data_daily_ratio["Daily Recovered"][en],"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
    else:
        pred_dict={"date":data_daily_ratio["Date"][en-1]+datetime.timedelta(hours=24),"original_val":0,"mean_based":pred_val[0],"max_based":pred_val[1],"mean_max_based":pred_val[2],"max_mean_based":pred_val[3],"mean_last_based":pred_val[4],"last_mean_based":pred_val[5],"last_based":pred_val[6],"middle_based":pred_val[7]}
        
    
    pred_df=pd.DataFrame(pred_dict, index=[0])
    

d=pd.read_excel(r"C:\Users\Mark 1\ramprd_df_strd.xlsx")
d=pd.concat([d,pred_df])
d.reset_index(drop=True,inplace=True)
d['original_val'][len(d)-2]=data_daily_ratio['Daily Recovered'][len(data_daily_ratio)-1]
d.to_excel("ramprd_df_strd.xlsx")

<ipython-input-24-ec28887caa50>:73: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['original_val'][len(d)-2]=data_daily_ratio['Daily Recovered'][len(data_daily_ratio)-1]

In [25]:
dc=pd.read_excel(r"C:\Users\Mark 1\ramprd_df_strd.xlsx")
dc = dc.loc[:, ~dc.columns.str.contains('^Unnamed')]
dc.tail()

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based
207,2020-10-24,62270,70279,102380,79593,90399,67021,63114,60188,54766
208,2020-10-25,59304,67831,102380,78467,88503,61414,63927,57879,102380
209,2020-10-26,63734,67190,102380,78891,87195,58805,64533,56479,69890
210,2020-10-27,58428,66558,102380,79161,86080,63414,71891,68495,60188
211,2020-10-28,0,66369,102380,79513,85455,58393,60880,53564,57879

In [26]:
dce=dc.copy()

In [27]:
colls=list(dc.columns)
colls.pop(0)
colls.pop(0)
collss=["mb","mxb","memb","mxmb","mlb","lmb","lb","mdb"]
for i in collss:
    dce[i]=pd.Series(range(1,len(dce)+1))
colls

['mean_based',
 'max_based',
 'mean_max_based',
 'max_mean_based',
 'mean_last_based',
 'last_mean_based',
 'last_based',
 'middle_based']

In [28]:
for i,j in zip(colls,collss):
    for k in range(len(dce)):
        dce[j][k]=dce["original_val"][k]-dce[i][k]
dce

<ipython-input-28-e3d4143616d2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dce[j][k]=dce["original_val"][k]-dce[i][k]

,date,original_val,mean_based,max_based,mean_max_based,max_mean_based,mean_last_based,last_mean_based,last_based,middle_based,mb,mxb,memb,mxmb,mlb,lmb,lb,mdb
0,2020-03-31,13,41,262,89,120,89,33,72,89,-28,-249,-76,-107,-76,-20,-59,-76
1,2020-04-01,19,24,125,53,56,20,6,5,4,-5,-106,-34,-37,-1,13,14,15
2,2020-04-02,22,31,125,59,64,32,26,28,29,-9,-103,-37,-42,-10,-4,-6,-7
3,2020-04-03,39,31,125,54,72,34,23,25,72,8,-86,-15,-33,5,16,14,-33
4,2020-04-04,56,28,80,50,46,50,39,69,5,28,-24,6,10,6,17,-13,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2020-10-24,62270,70279,102380,79593,90399,67021,63114,60188,54766,-8009,-40110,-17323,-28129,-4751,-844,2082,7504
208,2020-10-25,59304,67831,102380,78467,88503,61414,63927,57879,102380,-8527,-43076,-19163,-29199,-2110,-4623,1425,-43076
209,2020-10-26,63734,67190,102380,78891,87195,58805,64533,56479,69890,-3456,-38646,-15157,-23461,4929,-799,7255,-6156
210,2020-10-27,58428,66558,102380,79161,86080,63414,71891,68495,60188,-8130,-43952,-20733,-27652,-4986,-13463,-10067,-1760
211,2020-10-28,0,66369,102380,79513,85455,58393,60880,53564,57879,-66369,-102380,-79513,-85455,-58393,-60880,-53564,-57879

In [29]:
dce.to_excel("ramerrprd_df_strd.xlsx")
dce=pd.read_excel(r"C:\Users\Mark 1\ramerrprd_df_strd.xlsx")
dce = dce.loc[:, ~dce.columns.str.contains('^Unnamed')]
dce.to_excel("ramerrprd_df_strd.xlsx")

In [30]:
edf=dce.iloc[0:len(dce),10:]
edf

        mb     mxb   memb   mxmb    mlb    lmb     lb    mdb
0      -28    -249    -76   -107    -76    -20    -59    -76
1       -5    -106    -34    -37     -1     13     14     15
2       -9    -103    -37    -42    -10     -4     -6     -7
3        8     -86    -15    -33      5     16     14    -33
4       28     -24      6     10      6     17    -13     51
..     ...     ...    ...    ...    ...    ...    ...    ...
207  -8009  -40110 -17323 -28129  -4751   -844   2082   7504
208  -8527  -43076 -19163 -29199  -2110  -4623   1425 -43076
209  -3456  -38646 -15157 -23461   4929   -799   7255  -6156
210  -8130  -43952 -20733 -27652  -4986 -13463 -10067  -1760
211 -66369 -102380 -79513 -85455 -58393 -60880 -53564 -57879

[212 rows x 8 columns]

In [31]:

"""
for j,k in zip(range(len(edf)),range(len(dce)-1)):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        ps=min(pos)
        psi=a.index(ps)
        psc=list(edf.columns)[psi]
    if(len(neg)):
        ng=max(neg)
        ngi=a.index(ng)
        ngc=list(edf.columns)[ngi]
    
    
    print("for date: "+str(dce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+ psc +" and the highest negative error by the method: "+ngc)
    """

'\nfor j,k in zip(range(len(edf)),range(len(dce)-1)):\n    \n    a=list(edf.loc[j])\n    pos=[]\n    neg=[]\n    for i in a:\n        if(i>=0):\n            pos.append(i)\n        else:\n            neg.append(i)\n    if(len(pos)):\n        ps=min(pos)\n        psi=a.index(ps)\n        psc=list(edf.columns)[psi]\n    if(len(neg)):\n        ng=max(neg)\n        ngi=a.index(ng)\n        ngc=list(edf.columns)[ngi]\n    \n    \n    print("for date: "+str(dce["date"][k]).strip("00:00:00")+" the lowest positve error was by the method: "+ psc +" and the highest negative error by the method: "+ngc)\n    '

In [32]:
err_dict={"date":[],"mipe":[],"mxne":[],"mipv":[],"mxnv":[],"original_val":[],"pprd_val":[],"nprd_val":[]}
psc=[]
ngc=[]
date=[]
ps=[]
ng=[]
org_val=[]
pprd_val=[]
nprd_val=[]
for j,k in zip(range(len(edf)),range(len(dce))):
    
    a=list(edf.loc[j])
    pos=[]
    neg=[]
    for i in a:
        if(i>=0):
            pos.append(i)
        else:
            neg.append(i)
    if(len(pos)):
        aa=min(pos)
    
        psi=a.index(aa)
    
        ps.append(aa)
    
        psc.append(list(edf.columns)[psi])
    
    
        pprd_val.append(dce["original_val"][k]-aa)
    else:
        ps.append("No")
    
        psc.append("No")
    
    
        pprd_val.append("No")
        
    
    if(len(neg)):
        bb=max(neg)
        ngi=a.index(bb)
        ng.append(bb)
        ngc.append(list(edf.columns)[ngi])
        nprd_val.append(dce["original_val"][k]-bb)
    else:
        ng.append("No")
    
        ngc.append("No")
    
    
        nprd_val.append("No")
    
    date.append(str(dce["date"][k]).strip("00:00:00"))
    org_val.append(dce["original_val"][k])
err_dict.update({"date":date})
err_dict.update({"mipe":psc})
err_dict.update({"mxne":ngc})
err_dict.update({"mipv":ps})
err_dict.update({"mxnv":ng})
err_dict.update({"original_val":org_val})
err_dict.update({"pprd_val":pprd_val})
err_dict.update({"nprd_val":nprd_val})

In [33]:
err_dict

{'date': ['2020-03-31 ',
  '2020-04-01 ',
  '2020-04-02 ',
  '2020-04-03 ',
  '2020-04-04 ',
  '2020-04-05 ',
  '2020-04-06 ',
  '2020-04-07 ',
  '2020-04-08 ',
  '2020-04-09 ',
  '2020-04-10 ',
  '2020-04-11 ',
  '2020-04-12 ',
  '2020-04-13 ',
  '2020-04-14 ',
  '2020-04-15 ',
  '2020-04-16 ',
  '2020-04-17 ',
  '2020-04-18 ',
  '2020-04-19 ',
  '2020-04-20 ',
  '2020-04-21 ',
  '2020-04-22 ',
  '2020-04-23 ',
  '2020-04-24 ',
  '2020-04-25 ',
  '2020-04-26 ',
  '2020-04-27 ',
  '2020-04-28 ',
  '2020-04-29 ',
  '2020-04-30 ',
  '2020-05-01 ',
  '2020-05-02 ',
  '2020-05-03 ',
  '2020-05-04 ',
  '2020-05-05 ',
  '2020-05-06 ',
  '2020-05-07 ',
  '2020-05-08 ',
  '2020-05-09 ',
  '2020-05-10 ',
  '2020-05-11 ',
  '2020-05-12 ',
  '2020-05-13 ',
  '2020-05-14 ',
  '2020-05-15 ',
  '2020-05-16 ',
  '2020-05-17 ',
  '2020-05-18 ',
  '2020-05-19 ',
  '2020-05-20 ',
  '2020-05-21 ',
  '2020-05-22 ',
  '2020-05-23 ',
  '2020-05-24 ',
  '2020-05-25 ',
  '2020-05-26 ',
  '2020-05-27 ',
  '2020-05-28 ',
  '2020-05-29 ',
  '2020-05-30 ',
  '2020-05-31 ',
  '2020-06-01 ',
  '2020-06-02 ',
  '2020-06-03 ',
  '2020-06-04 ',
  '2020-06-05 ',
  '2020-06-06 ',
  '2020-06-07 ',
  '2020-06-08 ',
  '2020-06-09 ',
  '2020-06-10 ',
  '2020-06-11 ',
  '2020-06-12 ',
  '2020-06-13 ',
  '2020-06-14 ',
  '2020-06-15 ',
  '2020-06-16 ',
  '2020-06-17 ',
  '2020-06-18 ',
  '2020-06-19 ',
  '2020-06-20 ',
  '2020-06-21 ',
  '2020-06-22 ',
  '2020-06-23 ',
  '2020-06-24 ',
  '2020-06-25 ',
  '2020-06-26 ',
  '2020-06-27 ',
  '2020-06-28 ',
  '2020-06-29 ',
  '2020-06-30 ',
  '2020-07-01 ',
  '2020-07-02 ',
  '2020-07-03 ',
  '2020-07-04 ',
  '2020-07-05 ',
  '2020-07-06 ',
  '2020-07-07 ',
  '2020-07-08 ',
  '2020-07-09 ',
  '2020-07-10 ',
  '2020-07-11 ',
  '2020-07-12 ',
  '2020-07-13 ',
  '2020-07-14 ',
  '2020-07-15 ',
  '2020-07-16 ',
  '2020-07-17 ',
  '2020-07-18 ',
  '2020-07-19 ',
  '2020-07-20 ',
  '2020-07-21 ',
  '2020-07-22 ',
  '2020-07-23 ',
  '2020-07-24 ',
  '2020-07-25 ',
  '2020-07-26 ',
  '2020-07-27 ',
  '2020-07-28 ',
  '2020-07-29 ',
  '2020-07-30 ',
  '2020-07-31 ',
  '2020-08-01 ',
  '2020-08-02 ',
  '2020-08-03 ',
  '2020-08-04 ',
  '2020-08-05 ',
  '2020-08-06 ',
  '2020-08-07 ',
  '2020-08-08 ',
  '2020-08-09 ',
  '2020-08-10 ',
  '2020-08-11 ',
  '2020-08-12 ',
  '2020-08-13 ',
  '2020-08-14 ',
  '2020-08-15 ',
  '2020-08-16 ',
  '2020-08-17 ',
  '2020-08-18 ',
  '2020-08-19 ',
  '2020-08-20 ',
  '2020-08-21 ',
  '2020-08-22 ',
  '2020-08-23 ',
  '2020-08-24 ',
  '2020-08-25 ',
  '2020-08-26 ',
  '2020-08-27 ',
  '2020-08-28 ',
  '2020-08-29 ',
  '2020-08-30 ',
  '2020-08-31 ',
  '2020-09-01 ',
  '2020-09-02 ',
  '2020-09-03 ',
  '2020-09-04 ',
  '2020-09-05 ',
  '2020-09-06 ',
  '2020-09-07 ',
  '2020-09-08 ',
  '2020-09-09 ',
  '2020-09-10 ',
  '2020-09-11 ',
  '2020-09-12 ',
  '2020-09-13 ',
  '2020-09-14 ',
  '2020-09-15 ',
  '2020-09-16 ',
  '2020-09-17 ',
  '2020-09-18 ',
  '2020-09-19 ',
  '2020-09-20 ',
  '2020-09-21 ',
  '2020-09-22 ',
  '2020-09-23 ',
  '2020-09-24 ',
  '2020-09-25 ',
  '2020-09-26 ',
  '2020-09-27 ',
  '2020-09-28 ',
  '2020-09-29 ',
  '2020-09-30 ',
  '2020-10-01 ',
  '2020-10-02 ',
  '2020-10-03 ',
  '2020-10-04 ',
  '2020-10-05 ',
  '2020-10-06 ',
  '2020-10-07 ',
  '2020-10-08 ',
  '2020-10-09 ',
  '2020-10-10 ',
  '2020-10-11 ',
  '2020-10-12 ',
  '2020-10-13 ',
  '2020-10-14 ',
  '2020-10-15 ',
  '2020-10-16 ',
  '2020-10-17 ',
  '2020-10-18 ',
  '2020-10-19 ',
  '2020-10-20 ',
  '2020-10-21 ',
  '2020-10-22 ',
  '2020-10-23 ',
  '2020-10-24 ',
  '2020-10-25 ',
  '2020-10-26 ',
  '2020-10-27 ',
  '2020-10-28 '],
 'mipe': ['No',
  'lmb',
  'No',
  'mlb',
  'memb',
  'mb',
  'mlb',
  'mdb',
  'lb',
  'mdb',
  'memb',
  'mxmb',
  'No',
  'lb',
  'mb',
  'No',
  'memb',
  'mb',
  'mxmb',
  'mxmb',
  'lb',
  'memb',
  'No',
  'mb',
  'mdb',
  'lmb',
  'mb',
  'No',
  'mb',
  'memb',
  'lmb',
  'mxb',
  'mb',
  'mb',
  'memb',
  'lb',
  'lmb',
  'memb',
  'No',
  'mb',
  'memb',
  'lmb',
  'memb',
  'mxmb',
  'No',
  'mxmb',
  'mxb',
  'mdb',
  'lb',
  'mlb',
  'mb',
  'mb',
  'lb',
  'No',
  'mdb',
  'No',
  'mdb',
  'mb',
  'lmb',
  'mxb',
  'mdb',
  'mdb',
  'mdb',
  'lmb',
  'mdb',
  'lmb',
  'mdb',
  'mdb',
  'lmb',
  'mdb',
  'mxmb',
  'mdb',
  'lmb',
  'mxb',
  'memb',
  'mdb',
  'mxb',
  'No',
  'lmb',
  'mb',
  'No',
  'mxmb',
  'mdb',
  'mb',
  'mb',
  'mlb',
  'lmb',
  'No',
  'mb',
  'No',
  'mb',
  'mdb',
  'lmb',
  'mxb',
  'No',
  'mdb',
  'mlb',
  'No',
  'mlb',
  'lb',
  'lmb',
  'memb',
  'mdb',
  'lmb',
  'lmb',
  'memb',
  'mb',
  'memb',
  'mdb',
  'mxmb',
  'mb',
  'mlb',
  'lb',
  'mdb',
  'mxmb',
  'mb',
  'memb',
  'No',
  'mlb',
  'lmb',
  'No',
  'mb',
  'mb',
  'mxb',
  'mb',
  'mdb',
  'lb',
  'mb',
  'mlb',
  'lmb',
  'lb',
  'lb',
  'No',
  'memb',
  'memb',
  'mb',
  'mlb',
  'No',
  'mb',
  'mlb',
  'memb',
  'lmb',
  'mxmb',
  'lmb',
  'No',
  'lmb',
  'mxb',
  'mdb',
  'mdb',
  'mlb',
  'lmb',
  'mlb',
  'mdb',
  'mdb',
  'mb',
  'mxmb',
  'mb',
  'memb',
  'lb',
  'mb',
  'mxmb',
  'lmb',
  'mb',
  'lmb',
  'mxb',
  'mb',
  'mb',
  'mlb',
  'memb',
  'lmb',
  'memb',
  'mxmb',
  'mxmb',
  'mb',
  'memb',
  'No',
  'lmb',
  'No',
  'mb',
  'mb',
  'No',
  'mdb',
  'mb',
  'No',
  'mdb',
  'lb',
  'mb',
  'No',
  'mdb',
  'lmb',
  'mlb',
  'mdb',
  'mb',
  'mdb',
  'No',
  'mdb',
  'No',
  'mb',
  'mdb',
  'mlb',
  'lb',
  'No',
  'lmb',
  'No',
  'mxmb',
  'mb',
  'lmb',
  'lb',
  'lb',
  'mlb',
  'No',
  'No'],
 'mxne': ['lmb',
  'mlb',
  'lmb',
  'memb',
  'lb',
  'mxmb',
  'mxmb',
  'memb',
  'memb',
  'lmb',
  'mxb',
  'memb',
  'lmb',
  'mb',
  'memb',
  'mb',
  'mxmb',
  'lmb',
  'mxb',
  'memb',
  'mxmb',
  'mxb',
  'mb',
  'mxmb',
  'mb',
  'mlb',
  'memb',
  'mb',
  'mlb',
  'lb',
  'mb',
  'No',
  'mxmb',
  'mlb',
  'mxmb',
  'mdb',
  'mxmb',
  'mxmb',
  'mb',
  'mxmb',
  'lb',
  'mxmb',
  'mxb',
  'memb',
  'lmb',
  'mxb',
  'No',
  'mb',
  'mb',
  'mdb',
  'lmb',
  'lb',
  'mb',
  'lmb',
  'mxmb',
  'mb',
  'mxmb',
  'memb',
  'mb',
  'No',
  'mb',
  'mlb',
  'lmb',
  'mlb',
  'lb',
  'mlb',
  'lb',
  'mxb',
  'mxmb',
  'mlb',
  'memb',
  'mxb',
  'mxmb',
  'No',
  'mxb',
  'mxmb',
  'No',
  'mb',
  'mlb',
  'memb',
  'mb',
  'mxb',
  'mb',
  'mxmb',
  'mlb',
  'memb',
  'mlb',
  'lmb',
  'memb',
  'mb',
  'mdb',
  'mb',
  'mlb',
  'No',
  'mb',
  'mb',
  'memb',
  'lmb',
  'memb',
  'memb',
  'mlb',
  'mxb',
  'mxmb',
  'mb',
  'mlb',
  'mdb',
  'memb',
  'mxmb',
  'mb',
  'mdb',
  'memb',
  'memb',
  'mxmb',
  'mxb',
  'memb',
  'lb',
  'mxmb',
  'mb',
  'mdb',
  'mlb',
  'lmb',
  'memb',
  'mdb',
  'No',
  'mxmb',
  'mxmb',
  'memb',
  'lmb',
  'memb',
  'mlb',
  'mlb',
  'mxmb',
  'lmb',
  'mxmb',
  'mxmb',
  'mdb',
  'memb',
  'mb',
  'memb',
  'memb',
  'mxmb',
  'memb',
  'mdb',
  'mxmb',
  'mb',
  'mdb',
  'No',
  'memb',
  'lmb',
  'mb',
  'memb',
  'lmb',
  'lmb',
  'memb',
  'mlb',
  'mxb',
  'mxmb',
  'mxmb',
  'mxb',
  'lmb',
  'memb',
  'mxmb',
  'lb',
  'lb',
  'No',
  'memb',
  'mlb',
  'memb',
  'mxmb',
  'memb',
  'mxmb',
  'mxb',
  'memb',
  'lb',
  'mxb',
  'mb',
  'mlb',
  'lb',
  'mxmb',
  'mlb',
  'mdb',
  'mb',
  'memb',
  'mb',
  'lb',
  'lmb',
  'mdb',
  'mb',
  'lmb',
  'memb',
  'memb',
  'mb',
  'memb',
  'mxb',
  'mb',
  'mb',
  'mlb',
  'mxmb',
  'mb',
  'mb',
  'mb',
  'mlb',
  'mb',
  'mlb',
  'memb',
  'memb',
  'lb',
  'lmb',
  'mlb',
  'lmb',
  'mdb',
  'lb'],
 'mipv': ['No',
  13,
  'No',
  5,
  6,
  2,
  10,
  6,
  9,
  37,
  32,
  15,
  'No',
  42,
  33,
  'No',
  44,
  62,
  105,
  6,
  66,
  170,
  'No',
  138,
  32,
  70,
  52,
  'No',
  22,
  23,
  1,
  49,
  106,
  129,
  41,
  10,
  67,
  54,
  'No',
  248,
  52,
  27,
  113,
  88,
  'No',
  191,
  881,
  515,
  876,
  246,
  245,
  79,
  131,
  'No',
  89,
  'No',
  149,
  183,
  119,
  7163,
  36,
  1639,
  954,
  588,
  2211,
  49,
  1712,
  144,
  29,
  85,
  86,
  87,
  179,
  116,
  353,
  369,
  915,
  'No',
  1757,
  2805,
  'No',
  617,
  2505,
  294,
  182,
  1565,
  176,
  'No',
  1873,
  'No',
  701,
  5057,
  196,
  239,
  'No',
  3049,
  513,
  'No',
  791,
  1000,
  99,
  676,
  1473,
  307,
  829,
  208,
  510,
  1656,
  293,
  225,
  1734,
  510,
  1604,
  51,
  472,
  4891,
  494,
  'No',
  1169,
  128,
  'No',
  3209,
  1291,
  8636,
  1020,
  480,
  5252,
  852,
  1614,
  370,
  1501,
  530,
  'No',
  951,
  201,
  78,
  1226,
  'No',
  2605,
  63,
  373,
  187,
  85,
  2213,
  'No',
  586,
  791,
  292,
  622,
  3671,
  37,
  8,
  11203,
  1177,
  194,
  1092,
  2228,
  427,
  1335,
  1949,
  103,
  1004,
  190,
  719,
  2041,
  2198,
  2406,
  87,
  480,
  1778,
  3213,
  1994,
  3633,
  4712,
  4030,
  'No',
  6488,
  'No',
  2229,
  758,
  'No',
  9917,
  1478,
  'No',
  18332,
  3649,
  951,
  'No',
  3165,
  2738,
  1721,
  6675,
  3311,
  498,
  'No',
  3845,
  'No',
  2739,
  13262,
  383,
  2238,
  'No',
  4700,
  'No',
  1909,
  4029,
  673,
  2082,
  1425,
  4929,
  'No',
  'No'],
 'mxnv': [-20,
  -1,
  -4,
  -15,
  -13,
  -16,
  -2,
  -4,
  -3,
  -2,
  -19,
  -9,
  -7,
  -22,
  -49,
  -11,
  -33,
  -17,
  -63,
  -121,
  -34,
  -60,
  -82,
  -90,
  -77,
  -123,
  -171,
  -14,
  -14,
  -7,
  -16,
  'No',
  -156,
  -15,
  -61,
  -174,
  -235,
  -24,
  -155,
  -14,
  -131,
  -95,
  -219,
  -85,
  -42,
  -264,
  'No',
  -18,
  -45,
  -99,
  -3,
  -65,
  -100,
  -655,
  -232,
  -119,
  -319,
  -278,
  -97,
  'No',
  -1825,
  -808,
  -1708,
  -500,
  -1500,
  -442,
  -316,
  -319,
  -99,
  -117,
  -62,
  -253,
  -58,
  'No',
  -636,
  -139,
  'No',
  -980,
  -777,
  -304,
  -311,
  -2770,
  -1590,
  -4170,
  -1082,
  -2304,
  -991,
  -2038,
  -572,
  -497,
  -1441,
  -560,
  -1129,
  'No',
  -291,
  -589,
  -4942,
  -498,
  -4116,
  -1925,
  -2052,
  -2315,
  -202,
  -810,
  -935,
  -233,
  -1088,
  -381,
  -3163,
  -1302,
  -1777,
  -383,
  -1826,
  -5355,
  -1030,
  -2329,
  -644,
  -491,
  -489,
  -597,
  -2190,
  -30,
  -898,
  'No',
  -11797,
  -10857,
  -2593,
  -4174,
  -4544,
  -2720,
  -1435,
  -2081,
  -4435,
  -3222,
  -2961,
  -2142,
  -1807,
  -2329,
  -768,
  -296,
  -6748,
  -1755,
  -165,
  -26,
  -833,
  -1399,
  'No',
  -3553,
  -3318,
  -1171,
  -1723,
  -945,
  -1867,
  -2713,
  -2198,
  -2400,
  -1778,
  -872,
  -2883,
  -195,
  -629,
  -916,
  -2041,
  -644,
  'No',
  -5597,
  -973,
  -3686,
  -4930,
  -1318,
  -2962,
  -5338,
  -3401,
  -350,
  -1852,
  -4999,
  -3441,
  -4173,
  -7590,
  -1006,
  -10624,
  -1304,
  -5459,
  -533,
  -5676,
  -2237,
  -5458,
  -3425,
  -653,
  -2874,
  -1589,
  -309,
  -695,
  -867,
  -10721,
  -1616,
  -5220,
  -5620,
  -8845,
  -7051,
  -2754,
  -6372,
  -2619,
  -7032,
  -228,
  -5352,
  -2896,
  -844,
  -2110,
  -799,
  -1760,
  -53564],
 'original_val': [13,
  19,
  22,
  39,
  56,
  43,
  65,
  75,
  96,
  70,
  151,
  186,
  114,
  112,
  167,
  144,
  258,
  273,
  426,
  388,
  419,
  703,
  394,
  642,
  484,
  442,
  585,
  580,
  636,
  690,
  630,
  962,
  831,
  911,
  1082,
  1295,
  1161,
  1475,
  1111,
  1414,
  1669,
  1579,
  1905,
  1963,
  1594,
  2234,
  4012,
  2538,
  2482,
  3032,
  3113,
  3131,
  3280,
  2576,
  3285,
  3012,
  3585,
  3434,
  3171,
  11735,
  4303,
  4928,
  3882,
  4531,
  3789,
  4390,
  4770,
  5433,
  5191,
  5171,
  5634,
  6275,
  6044,
  7263,
  8092,
  7358,
  10639,
  7226,
  6890,
  10741,
  9029,
  13974,
  9075,
  10879,
  10462,
  13089,
  13983,
  10246,
  14229,
  11631,
  13497,
  12565,
  12064,
  19999,
  14417,
  14746,
  15829,
  15315,
  16836,
  19508,
  19408,
  20289,
  19981,
  18198,
  17683,
  20977,
  20646,
  22867,
  17476,
  23583,
  22730,
  24303,
  27589,
  31875,
  33326,
  32514,
  37125,
  31512,
  34354,
  35683,
  32886,
  37425,
  36554,
  51368,
  40355,
  43070,
  51220,
  45583,
  50141,
  50387,
  52135,
  54474,
  47362,
  56461,
  57759,
  54776,
  56920,
  53116,
  57404,
  58172,
  60455,
  59365,
  61873,
  62858,
  59101,
  56896,
  66305,
  64151,
  56191,
  59620,
  64475,
  64982,
  60422,
  64435,
  62145,
  67874,
  67491,
  69625,
  73161,
  69630,
  74116,
  74608,
  73062,
  70904,
  81456,
  77862,
  77748,
  79213,
  82849,
  82924,
  87788,
  95515,
  94389,
  92926,
  102070,
  89657,
  87459,
  81142,
  93331,
  92365,
  74691,
  85198,
  86150,
  85274,
  78731,
  76339,
  81655,
  76713,
  75855,
  81945,
  83209,
  78745,
  82628,
  89022,
  71564,
  78365,
  73903,
  81582,
  70792,
  70568,
  72583,
  64538,
  69800,
  61828,
  79561,
  74569,
  66994,
  62270,
  59304,
  63734,
  58428,
  0],
 'pprd_val': ['No',
  6,
  'No',
  34,
  50,
  41,
  55,
  69,
  87,
  33,
  119,
  171,
  'No',
  70,
  134,
  'No',
  214,
  211,
  321,
  382,
  353,
  533,
  'No',
  504,
  452,
  372,
  533,
  'No',
  614,
  667,
  629,
  913,
  725,
  782,
  1041,
  1285,
  1094,
  1421,
  'No',
  1166,
  1617,
  1552,
  1792,
  1875,
  'No',
  2043,
  3131,
  2023,
  1606,
  2786,
  2868,
  3052,
  3149,
  'No',
  3196,
  'No',
  3436,
  3251,
  3052,
  4572,
  4267,
  3289,
  2928,
  3943,
  1578,
  4341,
  3058,
  5289,
  5162,
  5086,
  5548,
  6188,
  5865,
  7147,
  7739,
  6989,
  9724,
  'No',
  5133,
  7936,
  'No',
  13357,
  6570,
  10585,
  10280,
  11524,
  13807,
  'No',
  12356,
  'No',
  12796,
  7508,
  11868,
  19760,
  'No',
  11697,
  15316,
  'No',
  16045,
  18508,
  19309,
  19613,
  18508,
  17891,
  16854,
  20769,
  20136,
  21211,
  17183,
  23358,
  20996,
  23793,
  25985,
  31824,
  32854,
  27623,
  36631,
  'No',
  33185,
  35555,
  'No',
  34216,
  35263,
  42732,
  39335,
  42590,
  45968,
  44731,
  48527,
  50017,
  50634,
  53944,
  'No',
  55510,
  57558,
  54698,
  55694,
  'No',
  54799,
  58109,
  60082,
  59178,
  61788,
  60645,
  'No',
  56310,
  65514,
  63859,
  55569,
  55949,
  64438,
  64974,
  49219,
  63258,
  61951,
  66782,
  65263,
  69198,
  71826,
  67681,
  74013,
  73604,
  72872,
  70185,
  79415,
  75664,
  75342,
  79126,
  82369,
  81146,
  84575,
  93521,
  90756,
  88214,
  98040,
  'No',
  80971,
  'No',
  91102,
  91607,
  'No',
  75281,
  84672,
  'No',
  60399,
  72690,
  80704,
  'No',
  72690,
  79207,
  81488,
  72070,
  79317,
  88524,
  'No',
  74520,
  'No',
  78843,
  57530,
  70185,
  70345,
  'No',
  65100,
  'No',
  77652,
  70540,
  66321,
  60188,
  57879,
  58805,
  'No',
  'No'],
 'nprd_val': [33,
  20,
  26,
  54,
  69,
  59,
  67,
  79,
  99,
  72,
  170,
  195,
  121,
  134,
  216,
  155,
  291,
  290,
  489,
  509,
  453,
  763,
  476,
  732,
  561,
  565,
  756,
  594,
  650,
  697,
  646,
  'No',
  987,
  926,
  1143,
  1469,
  1396,
  1499,
  1266,
  1428,
  1800,
  1674,
  2124,
  2048,
  1636,
  2498,
  'No',
  2556,
  2527,
  3131,
  3116,
  3196,
  3380,
  3231,
  3517,
  3131,
  3904,
  3712,
  3268,
  'No',
  6128,
  5736,
  5590,
  5031,
  5289,
  4832,
  5086,
  5752,
  5290,
  5288,
  5696,
  6528,
  6102,
  'No',
  8728,
  7497,
  'No',
  8206,
  7667,
  11045,
  9340,
  16744,
  10665,
  15049,
  11544,
  15393,
  14974,
  12284,
  14801,
  12128,
  14938,
  13125,
  13193,
  'No',
  14708,
  15335,
  20771,
  15813,
  20952,
  21433,
  21460,
  22604,
  20183,
  19008,
  18618,
  21210,
  21734,
  23248,
  20639,
  24885,
  24507,
  24686,
  29415,
  37230,
  34356,
  34843,
  37769,
  32003,
  34843,
  36280,
  35076,
  37455,
  37452,
  'No',
  52152,
  53927,
  53813,
  49757,
  54685,
  53107,
  53570,
  56555,
  51797,
  59683,
  60720,
  56918,
  58727,
  55445,
  58172,
  58468,
  67203,
  61120,
  62038,
  62884,
  59934,
  58295,
  'No',
  67704,
  59509,
  60791,
  66198,
  65927,
  62289,
  67148,
  64343,
  70274,
  69269,
  70497,
  76044,
  69825,
  74745,
  75524,
  75103,
  71548,
  'No',
  83459,
  78721,
  82899,
  87779,
  84242,
  90750,
  100853,
  97790,
  93276,
  103922,
  94656,
  90900,
  85315,
  100921,
  93371,
  85315,
  86502,
  91609,
  85807,
  84407,
  78576,
  87113,
  80138,
  76508,
  84819,
  84798,
  79054,
  83323,
  89889,
  82285,
  79981,
  79123,
  87202,
  79637,
  77619,
  75337,
  70910,
  72419,
  68860,
  79789,
  79921,
  69890,
  63114,
  61414,
  64533,
  60188,
  53564]}

In [34]:
err_df=pd.DataFrame(err_dict)
err_df

            date  mipe  mxne  mipv    mxnv  original_val pprd_val nprd_val
0    2020-03-31     No   lmb    No     -20            13       No       33
1    2020-04-01    lmb   mlb    13      -1            19        6       20
2    2020-04-02     No   lmb    No      -4            22       No       26
3    2020-04-03    mlb  memb     5     -15            39       34       54
4    2020-04-04   memb    lb     6     -13            56       50       69
..           ...   ...   ...   ...     ...           ...      ...      ...
207  2020-10-24     lb   lmb  2082    -844         62270    60188    63114
208  2020-10-25     lb   mlb  1425   -2110         59304    57879    61414
209  2020-10-26    mlb   lmb  4929    -799         63734    58805    64533
210  2020-10-27     No   mdb    No   -1760         58428       No    60188
211  2020-10-28     No    lb    No  -53564             0       No    53564

[212 rows x 8 columns]

In [35]:
err_df.to_excel("edrrr_df.xlsx")
errdf=pd.read_excel(r"C:\Users\Mark 1\edrrr_df.xlsx")
errdf = errdf.loc[:, ~errdf.columns.str.contains('^Unnamed')]
errdf.to_excel("edrrr_df.xlsx")

In [36]:
Counter(err_df['mipe'])

Counter({'No': 32,
         'lmb': 29,
         'mlb': 17,
         'memb': 21,
         'mb': 40,
         'mdb': 33,
         'lb': 16,
         'mxmb': 15,
         'mxb': 9})

In [37]:
mnval=max(list(Counter(err_df['mipe']).values()))
mnvalidx=list(Counter(err_df['mipe']).values()).index(mnval)
mnkys=list(Counter(err_df['mipe']).keys())[mnvalidx]
print("method: "+mnkys+" and values is: ",Counter(err_df['mipe'])[mnkys])

method: mb and values is:  40

In [38]:
Counter(err_df['mxne'])

Counter({'lmb': 22,
         'mlb': 25,
         'memb': 41,
         'lb': 14,
         'mxmb': 35,
         'mxb': 16,
         'mb': 37,
         'No': 9,
         'mdb': 13})

In [39]:
mxval=max(list(Counter(err_df['mxne']).values()))
mxvalidx=list(Counter(err_df['mxne']).values()).index(mxval)
mxkys=list(Counter(err_df['mxne']).keys())[mxvalidx]
print("method: "+mxkys+" and values is: ",Counter(err_df['mxne'])[mxkys])

method: memb and values is:  41

In [40]:
err_df['mipe'][len(err_df)-2]

'No'

In [41]:
err_df['mxne'][len(err_df)-2]

'mdb'