In [1]:
import pandas as pd
import numpy as np 
import copy
from matplotlib import pyplot as plt
import seaborn as sns
from collections import *

In [2]:
data=pd.read_excel(r"C:\Users\Mark 1\Desktop\data\Covid-19\merged\case_time_series.xlsx")

In [3]:
data

,Date,Daily Confirmed,Total Confirmed,Daily Recovered,Total Recovered,Daily Deceased,Total Deceased
0,2020-01-30,1,1,0,0,0,0
1,2020-01-31,0,1,0,0,0,0
2,2020-02-01,0,1,0,0,0,0
3,2020-02-02,1,2,0,0,0,0
4,2020-02-03,1,3,0,0,0,0
5,2020-02-04,0,3,0,0,0,0
6,2020-02-05,0,3,0,0,0,0
7,2020-02-06,0,3,0,0,0,0
8,2020-02-07,0,3,0,0,0,0
9,2020-02-08,0,3,0,0,0,0
10,2020-02-09,0,3,0,0,0,0
11,2020-02-10,0,3,0,0,0,0
12,2020-02-11,0,3,0,0,0,0
13,2020-02-12,0,3,0,0,0,0
14,2020-02-13,0,3,1,1,0,0
15,2020-02-14,0,3,0,1,0,0
16,2020-02-15,0,3,0,1,0,0
17,2020-02-16,0,3,1,2,0,0
18,2020-02-17,0,3,0,2,0,0
19,2020-02-18,0,3,0,2,0,0
20,2020-02-19,0,3,0,2,0,0
21,2020-02-20,0,3,1,3,0,0
22,2020-02-21,0,3,0,3,0,0
23,2020-02-22,0,3,0,3,0,0
24,2020-02-23,0,3,0,3,0,0
25,2020-02-24,0,3,0,3,0,0
26,2020-02-25,0,3,0,3,0,0
27,2020-02-26,0,3,0,3,0,0
28,2020-02-27,0,3,0,3,0,0
29,2020-02-28,0,3,0,3,0,0
...,...,...,...,...,...,...,...
54,2020-03-24,74,571,15,40,1,10
55,2020-03-25,86,657,3,43,1,11
56,2020-03-26,73,730,7,50,5,16
57,2020-03-27,153,883,25,75,3,19
58,2020-03-28,136,1019,10,85,5,24
59,2020-03-29,120,1139,17,102,3,27
60,2020-03-30,187,1326,35,137,14,41
61,2020-03-31,309,1635,13,150,6,47
62,2020-04-01,424,2059,19,169,6,53
63,2020-04-02,486,2545,22,191,16,69
64,2020-04-03,560,3105,39,230,14,83
65,2020-04-04,579,3684,56,286,13,96
66,2020-04-05,609,4293,43,329,22,118
67,2020-04-06,484,4777,65,394,16,134
68,2020-04-07,572,5349,75,469,27,161
69,2020-04-08,565,5914,96,565,20,181
70,2020-04-09,813,6727,70,635,46,227
71,2020-04-10,871,7598,151,786,22,249
72,2020-04-11,854,8452,186,972,40,289
73,2020-04-12,758,9210,114,1086,42,331
74,2020-04-13,1243,10453,112,1198,27,358
75,2020-04-14,1031,11484,167,1365,37,395
76,2020-04-15,886,12370,144,1509,27,422
77,2020-04-16,1061,13431,258,1767,26,448
78,2020-04-17,922,14353,273,2040,38,486
79,2020-04-18,1371,15724,426,2466,35,521
80,2020-04-19,1580,17304,388,2854,38,559
81,2020-04-20,1239,18543,419,3273,33,592
82,2020-04-21,1537,20080,703,3976,53,645
83,2020-04-22,1292,21372,394,4370,36,681

In [4]:
data[data.duplicated()]

Empty DataFrame
Columns: [Date, Daily Confirmed, Total Confirmed, Daily Recovered, Total Recovered, Daily Deceased, Total Deceased]
Index: []

In [5]:
data.columns

Index(['Date', 'Daily Confirmed', 'Total Confirmed', 'Daily Recovered',
       'Total Recovered', 'Daily Deceased', 'Total Deceased'],
      dtype='object')

In [6]:
data.dtypes

Date               datetime64[ns]
Daily Confirmed             int64
Total Confirmed             int64
Daily Recovered             int64
Total Recovered             int64
Daily Deceased              int64
Total Deceased              int64
dtype: object

In [7]:
count1=0
for i in list(data.columns):
    for j in range(len(data)):
        if(data[i][j]=="NaN" or data[i][j]=="" or data[i][j]==" " or data[i][j]=="?"):
            count1=count1+1
if(count1):
    print("yes")

In [8]:
count2=0
for j in range(len(data)):
    if(data["Date"][j]=="####"):
        count2=count2+1
if(count2):
    print("yes")

In [9]:
#no missing values

In [20]:
data_feb=data[2:31]
#data_feb
len(data_feb)

29

In [17]:
#data_feb.to_excel("coviddata_feb.xlsx")

In [21]:
data_mar=data[31:62]
#data_mar
len(data_mar)

31

In [19]:
#data_mar.to_excel("coviddata_mar.xlsx")